<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696692404451-q39c99hfbdpr39oa4g6gfrhibe1hoprv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696692404451-q39c99hfbdpr39oa4g6gfrhibe1hoprv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>696692404451-iveb6rs7mthil1onndelfoe6gfhg7flf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAojwX0DTKLAqG5qROcV-DV5IF8FJtbaw</string>
	<key>GCM_SENDER_ID</key>
	<string>696692404451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GlobalOnClassfield.App</string>
	<key>PROJECT_ID</key>
	<string>globalon-bbe5c</string>
	<key>STORAGE_BUCKET</key>
	<string>globalon-bbe5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696692404451:ios:552cadbf2e7ebd40a555d6</string>
	<key>DATABASE_URL</key>
	<string>https://globalon-bbe5c.firebaseio.com</string>
</dict>
</plist>